<div class="container-md">

    <div class="title">
        all products
    </div>

    <div class="dispaly-products d-flex flex-column align-items-end ">
      <select title="select amount " class="rounded p-2 mb-3 " [(ngModel)]="limit" (ngModelChange)="setLimit($event)" >
        <option *ngFor="let option of optionsLimit" [value]="option">
          {{option === 'All' ? 'All' : option}}
        </option>

      </select>

   <app-product-card [productCardList]="displayProductsLimit"></app-product-card>

    </div>

</div>
