<div class="container-md   px-0">
  <div class="side-bar has-scrollbar d-lg-block d-none">
    <div class="side-bar-category ">
      <h5 class="title" >Category</h5>
      <app-accordion-category [uniqueId]="'2'"></app-accordion-category>
    </div>
    <div class="product-showcase ">
      <app-best-seller></app-best-seller>
    </div>
  </div>
  <div class="product-box  ">
  <!-- logic of products here  -->
   <app-minimal-products></app-minimal-products>
   <app-product-featured></app-product-featured>
  <app-product-main ></app-product-main>
</div>



</div>


