<nav class="navbar navbar-expand-lg ">
  <div class="container ">
    <div class="collapse navbar-collapse   " id="navbarNav">
      <ul class="navbar-nav flex-center   ">
        <li class="nav-item ">
          <a class="nav-link  " href="#">
            <small class="py-2">Home</small>
          </a>

        </li>
        <li class="nav-item   ">
          <a class="nav-link  position-relative" href="#">
            <small class="py-2">Categories</small>
          </a>

          <div class="dropdown-panel position-absolute row  ">
            <ul class="dropdown-panel-list col-3">
              <li class="menu-panel-header">
                <a href="#" class="  " [ngStyle]="menuTitle">electronics</a>
              </li>
              <li class="list-panel-item">
                <a href="#" class="">
                  desktop
                </a>
              </li>
              <li class="list-panel-item">
                <a href="#" class="">
                  laptop
                </a>
              </li>
              <li class="list-panel-item">
                <a href="#" class="">
                  camera
                </a>
              </li>
              <li class="list-panel-item">
                <a href="#" class="">
                  tablet
                </a>
              </li>
              <li class="list-panel-item">
                <a href="#" class="">
                  headphone
                </a>
              </li>
              <li class="list-panel-item">
                <a href="#" class="py-0" class="" title="electronics section">
                  <img loading="lazy" src="./assets/images/electronics-banner-1.jpg" alt="" width="250" height="120"
                    [ngStyle]="imageStyle">
                </a>
              </li>
            </ul>
            <ul class="dropdown-panel-list col-3">
              <li class="menu-panel-header">
                <a href="#" class="  " [ngStyle]="menuTitle">men's</a>
              </li>
              <li class="list-panel-item">
                <a href="#" class="">
                  Formal
                </a>
              </li>
              <li class="list-panel-item">
                <a href="#" class="">
                  Casual
                </a>
              </li>
              <li class="list-panel-item">
                <a href="#" class="">
                  Sports
                </a>
              </li>
              <li class="list-panel-item">
                <a href="#" class="">
                  Jacket
                </a>
              </li>
              <li class="list-panel-item">
                <a href="#" class="">
                  Sunglasses
                </a>
              </li>
              <li class="list-panel-item">
                <a href="#" class="py-0" class="" title="mens section">
                  <img loading="lazy" src="./assets/images/mens-banner.jpg" alt="" width="250" height="120" [ngStyle]="imageStyle">
                </a>
              </li>
            </ul>
            <ul class="dropdown-panel-list col-3">
              <li class="menu-panel-header">
                <a href="#" class="  " [ngStyle]="menuTitle">women's</a>
              </li>
              <li class="list-panel-item">
                <a href="#" class="">
                  Formal
                </a>
              </li>
              <li class="list-panel-item">
                <a href="#" class="">
                  Casual
                </a>
              </li>
              <li class="list-panel-item">
                <a href="#" class="">
                  perfume
                </a>
              </li>
              <li class="list-panel-item">
                <a href="#" class="">
                  cosmetics
                </a>
              </li>
              <li class="list-panel-item">
                <a href="#" class="">
                  bags
                </a>
              </li>
              <li class="list-panel-item">
                <a href="#" class="py-0" class="" title="mens section">
                  <img loading="lazy" src="./assets/images/womens-banner.jpg" alt="" width="250" height="120" [ngStyle]="imageStyle">
                </a>
              </li>
            </ul>
            <ul class="dropdown-panel-list col-3">
              <li class="menu-panel-header">
                <a href="#" class="  " [ngStyle]="menuTitle">electronics</a>
              </li>
              <li class="list-panel-item">
                <a href="#" class="">
                  Smart Watch
                </a>
              </li>
              <li class="list-panel-item">
                <a href="#" class="">
                  Smart TV
                </a>
              </li>
              <li class="list-panel-item">
                <a href="#" class="">
                  Keyboard
                </a>
              </li>
              <li class="list-panel-item">
                <a href="#" class="">
                  Mouse
                </a>
              </li>
              <li class="list-panel-item">
                <a href="#" class="">
                  Microphone
                </a>
              </li>
              <li class="list-panel-item">
                <a href="#" class="py-0" class="" title="electronics section">
                  <img loading="lazy" src="./assets/images/electronics-banner-2.jpg" alt="" width="250" height="120"
                    [ngStyle]="imageStyle">
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link  position-relative" href="#">
            <small class="py-2">Men's</small>
            <ul class="dropdown-list position-absolute px-3 py-4 ">
              <li class="dropdown-item">
                shirt
              </li>
              <li class="dropdown-item">
                Shorts & Jeans

              </li>
              <li class="dropdown-item">
                Safety Shoes

              </li>
              <li class="dropdown-item">
                Wallet

              </li>
            </ul>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link   position-relative" href="#">
            <small class="py-2">Women's</small>
            <ul class="dropdown-list position-absolute px-3 py-4 ">
              <li class="dropdown-item">
                Dress & Frock
              </li>
              <li class="dropdown-item">
                Earrings
              </li>
              <li class="dropdown-item">
                Necklace
              </li>
              <li class="dropdown-item">
                Makeup Kit
              </li>
            </ul>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link  position-relative" href="#">
            <small class="py-2">jewellery</small>
            <ul class="dropdown-list position-absolute px-3 py-4 ">
              <li class="dropdown-item">
                Earrings
              </li>
              <li class="dropdown-item">
                Couple Rings
              </li>
              <li class="dropdown-item">
                Necklace
              </li>
              <li class="dropdown-item">
                Bracelets
              </li>
            </ul>
          </a>

        </li>
        <li class="nav-item">
          <a class="nav-link  position-relative" href="#">
            <small class="py-2">perfume</small>
            <ul class="dropdown-list position-absolute px-3 py-4 ">
              <li class="dropdown-item">
                Clothes Perfume
              </li>
              <li class="dropdown-item">
                Deodorant
              </li>
              <li class="dropdown-item">
                Flower Fragrance
              </li>
              <li class="dropdown-item">
                Clothes Perfume
              </li>
            </ul>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link  " href="#">
            <small class="py-2">Blog</small>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link  " href="#">
            <small class="py-2">Hot Offers</small>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
