<div class="containerr ">

  <div class="form ">
    @if (formNum === 1) {
    <h2 class="header ">forgot password</h2>
    <form [formGroup]="forgetPasswordForm" class="mt-4" (ngSubmit)="submitForgetPasswordForm()" >


      <div class=" mt-4">
        <input type="email" formControlName="email"  placeholder="Email" class="w-100">
      </div>

      <!-- validation email -->
      @if(forgetPasswordForm.get('email')?.errors && forgetPasswordForm.get('email')?.touched && forgetPasswordForm.get('email')?.invalid
      ){
      <div>
        @if(forgetPasswordForm.get('email')?.getError('required')){
        <small class="text-danger"> this field is required</small>
        }
        @if(forgetPasswordForm.get('email')?.getError('email')){
        <small class="text-danger"> Enter Valid Email</small>
        }
      </div>
      }

      <button type="submit" class="btn  "> <span class="loader " *ngIf="isLoading"></span>verify email</button>
      <small class="text-success" *ngIf="messageSuccess">{{messageSuccess}}</small>
      <small class="text-danger" *ngIf="messageError">{{messageError}}</small>
    </form>
  }
  @else if (formNum === 2) {
    <h2 class="header ">reset code</h2>
    <form [formGroup]="verifyResetCodeForm" class="mt-4" (ngSubmit)="submitverifyResetCodeForm()" >


      <div class=" mt-4">
        <input type="text" formControlName="resetCode" id="resetCode" placeholder="resetCode" class="w-100">
      </div>

      <!-- validation email -->
      @if(verifyResetCodeForm.get('resetCode')?.errors && verifyResetCodeForm.get('resetCode')?.touched && verifyResetCodeForm.get('resetCode')?.invalid
      ){
      <div>
        @if(verifyResetCodeForm.get('resetCode')?.getError('required')){
        <small class="text-danger"> this field is required</small>
        }
        @if(verifyResetCodeForm.get('resetCode')?.getError('pattern') ){
        <small class="text-danger"> Enter Valid Code</small>
        }
      </div>
      }

      <button type="submit" class="btn  "> <span class="loader " *ngIf="isLoading"></span>verify code</button>
      <small class="text-success" *ngIf="messageSuccess">{{messageSuccess}}</small>
      <small class="text-danger" *ngIf="messageError">{{messageError}}</small>
    </form>
  }
  @else if (formNum === 3) {
    <h2 class="header ">reset your password</h2>
    <form [formGroup]="resetPasswordForm" class="mt-4" (ngSubmit)="submitresetPasswordForm()" >


      <div class=" mt-4">
        <input readonly   type="email" formControlName="email"  placeholder="email" class="w-100">
      </div>

      <div class=" mt-4">
        <input    type="password" formControlName="newPassword" id="newPassword" placeholder="newPassword" class="w-100">
      </div>

      <!-- validation newPassword -->
      @if(resetPasswordForm.get('newPassword')?.errors && resetPasswordForm.get('newPassword')?.touched && resetPasswordForm.get('newPassword')?.invalid
      ){
      <div>
        @if(resetPasswordForm.get('newPassword')?.getError('required')){
        <small class="text-danger"> this field is required</small>
        }
        @if(resetPasswordForm.get('newPassword')?.getError('minlength') ){
        <small class="text-danger"> password must be more or equal than 6  </small>
        }
      </div>
      }




      <button type="submit" class="btn  "> <span class="loader " *ngIf="isLoading"></span>Log in</button>
      <small class="text-success" *ngIf="messageSuccess">{{messageSuccess}}</small>
      <small class="text-danger" *ngIf="messageError">{{messageError}}</small>
    </form>
  }



  </div>
</div>
<style>
  @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');
</style>

