<div class="accordion  pb-3 " [attr.id]=" 'accordionExample1' + uniqueId  ">
  <div class="accordion-item" *ngFor="let category of categories; let i = index">
    <div class="accordion-header">
      <div class="accordion-button mt-1 py-2 position-relative" data-bs-toggle="collapse"
        [attr.data-bs-target]="'#collapseCategory' + uniqueId  + i" [attr.aria-controls]="'collapseCategory' + uniqueId + i"  (click)="tooglePlus()" #reff>
        <div class="d-flex gap-2">
          <img loading="lazy" [src]="category.icon" alt="" width="20">
          <a class="nav-link" href="#" [title]="category.title">{{ category.title }}</a>
        </div>
        <button class="down-list-btn position-absolute end-0" >
          <i class="fas fa-plus"></i>
        </button>
      </div>
    </div>
    <div [id]="'collapseCategory' + uniqueId + i" class="accordion-collapse collapse" [attr.data-bs-parent]="'#accordionExample1' + uniqueId">
      <div class="accordion-body">
        <ul class="p-2 m-0">
          <li class="d-flex justify-content-between align-items-center" *ngFor="let item of category.items">
            <a href="#">{{ item.name }}</a>
            <p class="count">{{ item.count }}</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
