.container{

  .title{
  // padding: 15px 0 0 15px   ;
  padding-bottom: 15px;
  margin-bottom: 5px;
  text-transform: uppercase;
  color: var(--davys-gray);
  font-size: var(--fs-5);
  font-weight: 600;

}
.showcase-raiting{
  font-size: var(--fs-9);
}

}
