<div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions1"
  aria-labelledby="offcanvasWithBothOptions1Label">
  <div class="offcanvas-header justify-content-between">
    <h5 class="offcanvas-title" id="offcanvasWithBothOptions1Label">Category</h5>
    <button type="button" class="" data-bs-dismiss="offcanvas" aria-label="Close">
      <i class="fas fa-xmark"></i>
    </button>
  </div>
  <div class="offcanvas-body has-scrollbar">
    <app-accordion-category [uniqueId]="'1' "></app-accordion-category>
    <!-- BEST Seller -->
    <div class="best-seller p-3 ">
      <app-best-seller></app-best-seller>
      </div>


  </div>
</div>




