<div class="offer-time">
  <div class="days div ">
    <p class="time p-0 m-0">
      {{remainingDate.days}}
    </p>
    <p class="text p-0 m-0">
      days
    </p>
  </div>
  <div class="hours div ">
    <p class="time p-0 m-0">
      {{remainingDate.hours}}
    </p>
    <p class="text p-0 m-0">
      hours
    </p>
  </div>
  <div class="minutes div ">
    <p class="time p-0 m-0">
      {{remainingDate.minutes}}
    </p>
    <p class="text p-0 m-0">
      min
    </p>
  </div>
  <div class="seconds div ">
    <p class="time p-0 m-0">
      {{remainingDate.secondes}}
    </p>
    <p class="text p-0 m-0">
      sec
    </p>
  </div>
</div>
